@import url("https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,300..700;1,300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer components {
  .dark-bg {
    @apply bg-gradient-to-br from-zinc-900 to-black;
  }
  .light-bg {
    @apply bg-gradient-to-br from-zinc-200 to-zinc-100;
  }
  .default-transition {
    @apply transition-all duration-500 ease-in-out;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
